.global-faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 40em;
}

.bloc-faq {
  display: flex;
  flex-direction: row;
  width: 1150px;
  height: 550px;
  margin-top: 3em;
}

.blocA-faq {
  width: 650px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2.4em;
}

.blocB-faq {
  display: flex;
  justify-content: center;
  width: 500px;
  height: 550px;
}

.blocB-faq img {
  width: max-content;
  height: max-content;
}

summary {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 650px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}

details {
  padding-bottom: 0.6em;
  border-bottom: 1px solid rgb(71, 71, 71);
}

details p {
  margin-left: 1.4em;
  font-size: 1.05em;
  color: rgb(161, 161, 161);
  margin-bottom: 0;
}