.connect-wallet-button {
        height: 35px;
        width: 165px;
        font-size: 16px;
        border: none;
        border-radius: 19px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        background-color: #ff8906;
        color: #FFFFFE;
        cursor: pointer;
      }

.connect-wallet-button:hover {
        background: #f25f4c;
        transition: 1s;
}

.address-button {
        height: 35px;
        width: 140px;
        font-size: 16px;
        border: none;
        border-radius: 19px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        background-color: #ff8906;
        color: #FFFFFE;
        margin-left: 10px;
        cursor: pointer;
      }