.global-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 27em;
}

.bloc-about {
  display: flex;
  flex-direction: row;
  width: 1150px;
  height: 550px;
  gap: 35px;
}

.blocA-about {
  width: 480px;
  height: 550px;
}

.blocB-about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 635px;
  height: 450px;
}

#title-about {
  font-size: 2.8em;
  font-weight: bolder;
}

.discord_button {
  height: 2em;
  width: 10em;
  font-size: 1.4em;
  border: none;
  border-radius: 2em;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #ff8906;
  color: #FFFFFE;
  cursor: pointer;
}

#text1 {
  font-size: 1.5em;
  font-weight: bold;
}

#text2 {
  font-size: 1.2em;
}