@media (min-width: 1250px) {
  :root {
    --bloc-about-dir: row;
    --glob-about-h: 27em;
    --about-gap: 0;
    --about-txt-w: 39em;
    --about-txt-align: none;
  }
}

@media (max-width: 1250px) {
  :root {
    --bloc-about-dir: column;
    --glob-about-h: 50em;
    --about-gap: 1.5em;
    --about-txt-w: 35em;
    --about-txt-align: center;
  }
}

.global-about {
  display: flex;
  justify-content: center;
  width: 100%;
  height: var(--glob-about-h);
}

.bloc-about {
  display: flex;
  flex-direction: var(--bloc-about-dir);
  width: 68em;
  height: 34em;
  align-items: center;
  gap: 35px;
}

.blocA-about {
  width: 30em;
  height: 34em;
}

.blocB-about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: var(--about-txt-w);
  height: 28em;
  gap: var(--about-gap);
  text-align: var(--about-txt-align);
}

#title-about {
  font-size: 2.8em;
  font-weight: bolder;
}

#text1 {
  font-size: 1.5em;
  font-weight: bold;
}

#text2 {
  font-size: 1.2em;
}

#img-about {
  width: 29em;
  height: 27em;
}