#MintCollection {
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bloc-title-mint-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 10em;
  padding-top: 7em;
}

.containerTimer {
  color: var(--body-text);
  text-align: center;
}

.li-Timer {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.li-Timer span {
  display: block;
  font-size: 4.5rem;
}

#hr-MintPage{
  width: 50%;
}

#headline{
  color: var(--primary);
}

@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }
  
  li {
    font-size: calc(1.125rem * var(--smaller));
  }
  
  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}

.typewriter {
  display:flex;
  justify-content: center;
}

.typewriter h1 {
  color: var(--primary);
  overflow: hidden;
  border-right: .15em solid blanchedalmond; 
  white-space: nowrap; 
  margin-bottom: 1em;
  letter-spacing: .15em; 
  animation: 
    typing 4s steps(20, end),
    blink-caret .5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: blanchedalmond; }
}