.bloc {
  text-align: center;
  margin-right: 25%;
  margin-left: 25%;
  margin-bottom: 5%;
}

h2 {
  color: #a7a9be ;
  font-family: 'Helvetica';
  margin-top: 1em;
}

.paragraph {
  margin-top: -2em;
  color: #a5a6aa;
}