.global-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  height: 93.8vh;
}

.img_details {
  margin-top: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2.5em;
}

.metadata_details {
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  white-space: pre;
  gap: 1.8em;
}

.attrib {
  font-size: 2em;
  color: var(--primary);
  text-shadow: var(--btn-text-shadow);
}

.values {
  font-weight: bold;
  color: var(--body-text);
}

.back-profil a {
  text-decoration: none;
  color: var(--primary);
  font-size: 1.2em;
  text-shadow: var(--btn-text-shadow);
}

.valNFT {
  font-size: 0.6em;
}