.img_details {
  padding: 6em;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2.5em;
}

.metadata_details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  white-space: pre;
  gap: 0.95em;
}

.attrib {
  font-size: 2.1em;
  color: var(--primary);
  text-shadow: 2px 2px 4px black;
}

.values {
  font-weight: bold;
  color: var(--body-text);
}