.header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    padding-top: 10px;
}

.logo {
    width: 375px;
    height: auto;
}

.header-content {
    display: flex;
    padding-top: 10px;
    color: #fffffe;
    font-size: 16px;
  }
  
  .link {
  margin-right: 40px;
  font-family: 'Helvetica';
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
