.main-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #686868;
  height: 75px;
  /* max-height: 4.5rem; */
}

.content {
  display: flex;
  justify-content: left;
  align-items: center;
  border: 1px solid #6a7ed6;
  height: 700px;
  /* max-height: 4.5rem; */
}

.footer {
    display: flex;
  justify-content: left;
  align-items: center;
  border: 1px solid #6a7ed6;
  height: 60px;
  /* max-height: 4.5rem; */
}

