@media (min-width: 1250px) {

  .global-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 42em;
    padding-top: 6em;
  }

  .bloc1-intro {
    display: flex;
    flex-direction: row;
    width: 68em;
    height: 34em;
  }

  .bloc1-intro span {
    text-align: center;
  }

  .bloc1A-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    width: 31em;
  }

  .bloc1B-intro {
    width: 37em;
  }

  .bloc2-intro {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    width: 68em;
    justify-content: space-between;
    align-items: center;
  }

  #title-intro {
    font-size: 3.7em;
    font-weight: bolder;
  }

  #text-intro {
    font-size: 1.2em;
    max-width: 26em;
  }

  #pack1{
    margin-top: 3em;
    height: 32em;
  }

  .stat-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 15em;
    height: 8em;
    border-radius: 1.5em;
    background-color: var(--intro-stat-box-bg);
  }

  .box-text {
    color: var(--intro-stat-box-text);
  }

  .box-val {
    font-size: 2.7em;
    font-weight: bold;
    color: var(--intro-stat-box-val);
  }
}

@media (max-width: 1250px) {

  .global-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding-top: 3%;
    margin-right: 5%;
    margin-left: 5%; 
  }

  .bloc1-intro {
    width: 100%;
    text-align: center;
  }

  #pack1 {
    height: 320px;
    margin-top: 3%;
  }

  #title-intro {
    font-size: 1.6em;
    font-weight: bolder;
  }

  #text-intro {
    font-size: 1.2em;
    max-width: 26em;
  }

  .bloc1A-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
  }

  .stat-box {
    display: none
  }
}