.global-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 42em;
  padding-top: 7em;
}

.bloc1-intro {
  display: flex;
  flex-direction: row;
  width: 1150px;
  height: 550px;
}

.bloc1A-intro, .bloc1B-intro {
  width: 600px;
  height: 550px;
}

.bloc1A-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3em;
}

.bloc1B-intro {
  margin-left: -3em;
  margin-top: 1em;
}

.bloc2-intro {
  display: flex;
  flex-direction: row;
  width: 72em;
  height: 15em;
  justify-content: space-between;
  align-items: center;
}

#title-intro {
  font-size: 3.7em;
  font-weight: bolder;
}

#text-intro {
  font-size: 1.2em;
  max-width: 26em;
}

#pack1 {
  height: 520px;
}

.stat-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 16em;
  height: 8em;
  border-radius: 2em;
  background-color: var(--intro-stat-box-bg);
}

.box-text {
  color: var(--intro-stat-box-text);
}

.box-val {
  font-size: 3em;
  font-weight: bold;
  color: var(--intro-stat-box-val);
}