.footer {
  font-family: 'Helvetica';
  font-size: 0.95em;
  text-align: center;
  width: 100%;
}

.footer-link {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 0.85em;
  margin-top: 1em;
  padding-bottom: 1em;
}

.footer-text {
  color: #fffffe;
}

.footer-link-text {
  margin-right:  1em;
  margin-left: 1em;
  text-decoration: none;
  color: #fffffe;
}

a {
  text-decoration: none;
}