.slider-A, 
.slider-B {
	height: 250px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 100%;
	margin-bottom: 2em;
}

.slide-track-A {
	animation: scroll-right 80s linear infinite;
	display: flex;
}

.slide-track-B {
	animation: scroll-left 80s linear infinite;
	display: flex;
}

.slide-A, 
.slide-B {
	margin-right: 1em;
	margin-left: 1em;
}

/* anim first slider */
@keyframes scroll-right {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-190px * 20)); }
}

/* anim second slider */
@keyframes scroll-left {
	0% { transform: translateX(calc(-190px * 20)); }
	100% { transform: translateX(0); }
}