.sliderL, 
.sliderR {
	height: 200px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 100%;
	margin-bottom: 1.2em;
}

.slidetrackL {
	animation: scrollright 1.5s ease 1;
	display: flex;
	justify-content: center;
}

.slidetrackR {
	animation: scrollleft 1.5s ease 1;
	display: flex;
	justify-content: center;
}

.slideL, 
.slideR {
	margin-right: 0.6em;
	margin-left: 0.6em;
}

@keyframes scrollright {
	0% { transform: translateX(-100%); }
	100% { transform: translateX(0); }
}

@keyframes scrollleft {
	0% { transform: translateX(100%); }
	100% { transform: translateX(0); }
}

.tooltip .tooltiptext {
	visibility: hidden;
	max-width: auto;
	background-color: rgba(0, 0, 0, 0.97);
	color: var(--tip-text);
	padding: 0.4em 0.6em 0.4em 0.6em;
	border-radius: 0 1.3em 1.3em 0;
	font-size: 1em;
	position: absolute;
	white-space: pre;
	bottom: 0;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.attribut {
	font-size: 0.8em;
}

.value {
	font-weight: 600;
	color: var(--tip-value);
	font-size: 0.9em;
}

.pourcent {
	font-size: 0.75em;
}

.more, .unique, .only-two {
	font-weight: bold;
	font-size: 0.8em;
}

.orange {
	color : var(--pourcent-orange);
}

.purple {
	color : var(--pourcent-purple);
}

.blue {
	color : var(--pourcent-blue);
}

.green {
	color : var(--pourcent-green);
}

.gray {
	color : var(--pourcent-gray);
}