@media (min-width: 1650px ) {
	:root {
		--marg-1: 1.2em;
		--marg-2: 0.6em;
		--attrib-f-size: 0.8em;
		--value-f-size: 0.9em;
		--epic-f-size: 0.8em;
		--pourcent-f-size: 0.75em;
	}
}

@media (max-width: 1650px ) {
	:root {
		--marg-1: 0.4em;
		--marg-2: 0.2em;
		--attrib-f-size: 0.6em;
		--value-f-size: 0.8em;
		--epic-f-size: 0.75em;
		--pourcent-f-size: 0.7em;
	}
}

.sliderL, 
.sliderR {
	height: 200px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 100%;
	margin-bottom: var(--marg-1);
}

.slidetrackL {
	animation: scrollright 1.5s ease 1;
	display: flex;
	justify-content: center;
}

.slidetrackR {
	animation: scrollleft 1.5s ease 1;
	display: flex;
	justify-content: center;
}

.slideL, 
.slideR {
	margin-right: var(--marg-2);
	margin-left: var(--marg-2);
}

@keyframes scrollright {
	0% { transform: translateX(-100%); }
	100% { transform: translateX(0); }
}

@keyframes scrollleft {
	0% { transform: translateX(100%); }
	100% { transform: translateX(0); }
}

.tooltip .tooltiptext {
	visibility: hidden;
	max-width: auto;
	background-color: rgba(0, 0, 0, 0.97);
	color: var(--tip-text);
	padding: 0.4em 0.6em 0.4em 0.6em;
	border-radius: 0 1.3em 1.3em 0;
	position: absolute;
	white-space: pre;
	bottom: 0;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.attribut {
	font-size: var(--attrib-f-size);
}

.value {
	font-weight: 600;
	color: var(--tip-value);
	font-size: var(--value-f-size);
}

.pourcent {
	font-size: var(--pourcent-f-size);
}

.more, .unique, .only-two {
	font-weight: bold;
	font-size: var(--epic-f-size);
}

.orange {
	color : var(--pourcent-orange);
}

.purple {
	color : var(--pourcent-purple);
}

.blue {
	color : var(--pourcent-blue);
}

.green {
	color : var(--pourcent-green);
}

.gray {
	color : var(--pourcent-gray);
}